{% load static %}

<!--Latest version JQuery-->
{% comment %}
<script src="{% static 'js/jquery.min.js' %}"></script>
{% endcomment %}

<!--Bootstrap js-->
{% comment %}
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.js.map' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js.map' %}"></script>
{% endcomment %}

<!--Bootstrap esm js-->
{% comment %}
<script src="{% static 'js/bootstrap.esm.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.js.map' %}"></script>
<script src="{% static 'js/bootstrap.esm.min.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.min.js.map' %}"></script>
{% endcomment %}

<!--Bootstrap bundle js-->
{% comment %}
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js.map' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endcomment %} {% comment %}
<script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
{% endcomment %}

<!--easing js-->
{% comment %}
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
{% endcomment %}

<!--mixitup js-->
{% comment %}
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
{% endcomment %}

<!--Owl Carousel js-->
{% comment %}
<script src="{% static 'js/owl.carousel.js' %}"></script>
{% endcomment %}

<!--Validator js-->
{% comment %}
<script src="{% static 'js/validator.js' %}"></script>
{% endcomment %}

<!--Contact js-->
{% comment %}
<script src="{% static 'js/contact.js' %}"></script>
{% endcomment %}

<!--Bootstrap js-->
{% comment %}
<script src="{% static 'js/wow.min.js' %}"></script>
{% endcomment %}

<!--Theme js-->
<script src="{% static 'js/index.js' %}"></script>
