/*--- 1. Default CSS Starts ---*/

* {
  margin: 0;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

a,
a:focus,
a:active,
a:link,
img {
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

a:hover {
  /* color: #ff7e60; */
  text-decoration: none;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

.page-content {
  padding: 20px;
  margin: 20px;
  background: linear-gradient(25deg, rgba(0, 153, 255, 0.644), whitesmoke);
  border-radius: 10px;
}

/* Body */

body {
  background: rgba(7, 151, 247, 0.8)
    url("../../media/borehole_drilling_company_in_lagos.jpg") no-repeat fixed
    center;
  width: 100%;
  background-size: cover;
}
/* Base */

.new-cover {
  width: 100%;
  height: fit-content;
  line-height: 24px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  background-size: cover;
}

/* .new-cover-skin {
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.5) no-repeat scroll center;
  height: 100%;
} */
/* --- Navbar CSS Starts --- */

.navbar {
  /* background: linear-gradient(45deg, rgb(0, 89, 255), rgb(190, 190, 236)); */
  background-color: #323232;
  padding: 1.1%;
  position: fixed;
  width: 100%;
}

.navbar .navbar-brand {
  font-weight: 600px;
  font-size: 25px;
  color: #fff;
}

.navbar .navbar-brand:hover {
  color: #fff;
}

.navbar .navbar-brand img {
  background: transparent;
  padding-top: 2px;
  margin-right: 15px;
}
.navbar .navbar-nav .nav-link {
  outline: 0;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
}

.navbar .navbar-nav .nav-link:hover {
  outline: 0;
  text-decoration: none;
  color: rgba(7, 151, 247, 0.8);
  background-color: transparent;
}

/*--- Page Content ---*/

.display {
  height: 100vh;
  padding-top: 5%;
}

/* Home Page ---*/

/*--- Slide show ---*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*--- About.html ---*/

.page-header-container {
  display: flex;
  justify-content: center;
}

.page-header {
  padding: 2%;
  margin: 2%;
  width: 30%;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
  font-size: 60px;
  text-align: right;
  border-bottom: 3px solid yellow;
}

.about {
  display: flex;
}

/* .pictures {
  display: grid;
  grid-template-rows: 1fr;
} */
/* 
.picture-sample {
  width: 100%;
  height: 600px;
  background-image: url(../../media/IMG-20200817-WA0019.jpg);
} */
.about .pictures img {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.about .about-info {
  padding: 10px;
  margin: 10px;
  font-size: 160%;
  color: black;
  text-align: justify;
  height: inherit;
}

.about .about-info p {
  padding: 4%;
}

.about .about-info span {
  padding: 4%;
  font-style: italic;
}

/* Services Section */

.services-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.services-segment-header h3 {
  font-size: 40px;
  font-weight: 250%;
}

.services-segment-content {
  font-size: 20px;
}

/*--- Contact Page ---*/

.contact-message p {
  font-size: 20px;
  text-align: center;
  font-weight: 300px;
  padding: 20px;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
}
.contact-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.contact-segment-header h3 {
  font-size: 40px;
  font-weight: 250%;
}

.contact-segment-content {
  font-size: 20px;
}

/*--- Contact Map ---*/
.contact-map-container {
  display: flex;
  justify-content: center;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 900px;
  margin: 40px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 900px;
}

/*--- Footer ---*/
.footer-area {
  width: 100%;
  bottom: 10px;
  padding: 10px;
  margin-bottom: 0;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
}
