/*--- 1. Default CSS Starts ---*/

* {
  margin: 0;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  color: whitesmoke;
}

body {
  width: 100%;
  height: 100%;
  line-height: 24px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  background: rgba(7, 151, 247, 0.8)
    url("../../media/borehole_drilling_company_in_lagos.jpg") no-repeat fixed
    center;
  background-size: cover;
}

html {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

a,
a:focus,
a:active,
a:link,
img {
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

a:hover {
  /* color: #ff7e60; */
  text-decoration: none;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

/* --- Navbar CSS Starts --- */

.navbar {
  /* background: linear-gradient(45deg, rgb(0, 89, 255), rgb(190, 190, 236)); */
  background-color: #323232;
  padding: 1.1%;
  position: fixed;
  width: 100%;
}

.navbar .navbar-brand {
  font-weight: 600px;
  font-size: 25px;
  color: #fff;
}

.navbar .navbar-brand:hover {
  color: #fff;
}

.navbar .navbar-brand img {
  background: transparent;
  padding-top: 2px;
  margin-right: 15px;
}
.navbar .navbar-nav .nav-link {
  outline: 0;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
}

.navbar .navbar-nav .nav-link:hover {
  outline: 0;
  text-decoration: none;
  color: rgba(7, 151, 247, 0.8);
  background-color: transparent;
}

/*--- skin cover ---*/

.new-cover {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.display {
  padding-top: 4%;
}

/*--- Footer ---*/
.footer-area {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
