{% extends 'base.html' %} {% block content %}

<div class="page-header-container">
  <h2 class="page-header">About Us</h2>
</div>

<div class="page-content">
  <div class="about">
    <div class="pictures">
      {% comment %}
      <div class="picture-sample"></div>
      {% endcomment %} {% comment %}
      <img src="../../media/1bc8bcca-b98e-4549-a760-33e7bbc69f18.jfif" alt="" />
      {% endcomment %}
      <img src="../../media/3dc7373c-aef2-436b-b895-6e114953089d.jfif" alt="" />
      <img
        src="../../media/04-Options-pour-pompes-refoulement-Zambie.jpg"
        alt=""
      />
      <img src="../../media/20200807_124821.jpg" alt="" />
      <img src="../../media/IMG_20190215_114539.jpg" alt="" />
      <img src="../../media/IMG_20190219_184538.jpg" alt="" />
    </div>
    <div class="about-info">
      <p>
        We are an indigenous company with many years of experience under our
        belt, we have been in the drilling business for over 30 years, We have
        worked across many sectors from private to Government agencies. The
        company was established in 2011 and has worked across the different
        states of Nigeria from the sedimentary to basement formations.
      </p>
      <p>
        Strata &#38; Structures Limited was established with clear objectives of
        providing high quality professional services to the environmental, civil
        and geotechnical engineering community. Strata &#38; Structures Limited
        has completed a wide range of environmental,geotechnical and
        construction projects for clients ranging from Governments, Foreign
        companies, Corporate, Individuals and other firms offering similar
        services.
      </p>
      <p>
        There is a saying within the organization at Strata &#38; Structures
        Limited,
      </p>

      <span
        >"As long as there is soil below our feet, we'll provide you with water.
        It does not matter how deep we have to drill".</span
      >
      <p>
        Facilitated by the company's vast number of drilling rigs strategically
        located at various geographical regions in the country, we can ensure
        effective response to water requirements of our clients.
      </p>

      <p>
        This is aided by the amount of our very experienced drillers, each with
        thousands of operation hours in the field. Drillers routinely undertake
        training courses worldwide, to update them on current global
        technologies.
      </p>
      <p>
        Strata &#38; Structures Limited sources all the materials required for
        this service in-house, ensuring you get one of the best quality control
        possible and also ensuring a high success rate. With some of the latest
        and biggest water drilling rigs in the nation, Strata &#38; Structures
        Limited delivers to the highest standards
      </p>
      <p>
        No matter what obstacles we face, our Team finds a safe, efficient and
        innovative way to meet the objectives of the project. And we bring over
        35 years of drilling experience to each and every project.​
      </p>
      <p>
        With customized drills that deliver the industry's best surface,
        underground, and specialty drilling, our team gets the job done in even
        the most challenging conditions. Lightweight and powerful, our drills
        are modified to accommodate different sizes, depths, and any other
        requirements for your project to deliver safe, optimal performance for
        every challenge.
      </p>
      <p>
        But knowledge and experience isn't everything. We know that we are
        strongest when we work as part of a team.
      </p>
      <p>
        That's why we focus on building strong relationships with our clients
        based on honesty, integrity, respect, and open communication. We welcome
        feedback from our clients and employees, and we continually evolve and
        adapt to satisfy changing industry standards. A strong partnership is
        the key to not only meeting and exceeding expectations, but delivering
        the best possible service.
      </p>
      <p>
        The end result? A history of providing long-term, safe, and productive
        drilling services.
      </p>
      <p>We offer:​​</p>
      <ul>
        <li>
          Customized equipment that deliver the industry's best surface,
          underground, and specialty drilling.
        </li>
        <li>
          Lightweight, highly portable drills that excel in depth and power
        </li>
        <li>Highly trained, skilled operators</li>
        <li>Minimal environmental impact</li>
        <li>Trusted relationships with local communities</li>
        <li>Innovation and determination</li>
        <li>
          Fabrication &#38; construction of durable overhead and underground
          storage tanks.
        </li>
        <li>Construction of Water treatment plants.</li>
        <li>Borehole Servicing &#38; Flushing.</li>
        <li>Water Reticulation</li>
        <li>Consultancy.</li>
        <li>General Supplies</li>
        <li>Civil Construction</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
