{% extends 'base.html' %} {% block content %}
<h1>About Page</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ratione
  corrupti repellendus placeat earum nemo, animi soluta aspernatur ea dolore.
</p>

<h2>About Us</h2>
<div class="about">
  <div class="pictures">
    <img src="../../media/1bc8bcca-b98e-4549-a760-33e7bbc69f18.jfif" alt="" />
  </div>
  <div class="about-info">
    <p>
      We are an indigenous company with many years of experience under our belt,
      we have been in the drilling business for over 30 years, We have worked
      across many sectors from private to Government agencies. The company was
      established in 2011 and has worked across the different states of Nigeria
      from the sedimentary to basement formations.
    </p>
    <br />
    <p>
      Strata &#38;#34; Structures Limited was established with clear objectives
      of providing high quality professional services to the environmental,
      civil and geotechnical engineering community. Strata &#38; Structures
      Limited has completed a wide range of environmental,geotechnical and
      construction projects for clients ranging from Governments, Foreign
      companies, Corporate, Individuals and other firms offering similar
      services.
    </p>
    <br />
    <p>
      There is a saying within the organization at Strata &#38; Structures
      Limited,
    </p>

    <span
      >"As long as there is soil below our feet, we'll provide you with water.
      It does not matter how deep we have to drill".</span
    >
    <p>
      Facilitated by the company's vast number of drilling rigs strategically
      located at various geographical regions in the country, we can ensure
      effective response to water requirements of our clients.
    </p>

    <p>
      This is aided by the amount of our very experienced drillers, each with
      thousands of operation hours in the field. Drillers routinely undertake
      training courses worldwide, to update them on current global technologies.
    </p>
    <br />
    <p>
      Strata &#38; Structures Limited sources all the materials required for
      this service in-house, ensuring you get one of the best quality control
      possible and also ensuring a high success rate. With some of the latest
      and biggest water drilling rigs in the nation, Strata &#38; Structures
      Limited delivers to the highest standards
    </p>
  </div>
</div>
{% endblock %}
