{% extends 'base.html' %} {% block content %}
<div class="page-header-container">
  <h2 class="page-header">How To Find Us</h2>
</div>

<div class="contact-message">
  <p>
    Thank you for your interest in Strata &#38; Structures Limited. Try and
    reach us via email or any of our contact numbers.
  </p>
</div>

<div class="page-content">
  <div class="contact-main">
    <div class="contact-segment">
      <div class="contact-segment-header">
        <h3>ABUJA HEAD OFFICE</h3>
      </div>
      <div class="contact-segment-content">
        <p>You can always visit us at our abuja office</p>
        <b
          ><p>Hours of Operation: Daily from 8am to 7pm</p>
          <p>13 Winners way Dawaki Layout, FCT Abuja</p>
          <p>osamede@strataandstructures.com</p>
          (234) 80-33112238</b
        >
      </div>
    </div>

    <div class="contact-segment">
      <div class="contact-segment-header">
        <h3>INFORMATION CENTER</h3>
      </div>
      <div class="contact-segment-content">
        <p>You can send us an email and reach our other social media handles</p>
        <b>
          <p>Hours of Operation: Daily from 8am to 7pm</p>
          <p>Our yard is at Papal's Ground along Kubwa Express, FCT Abuja</p>
          <p>amen@strataandstructures.com</p>
          <p>(234) 80-37054112</p>
        </b>
      </div>
    </div>
  </div>

  <div class="contact-map-container">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="600"
          height="500"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=13%20Winners%20way%20Dawaki%20Layout,%20Abuja&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe
        ><a href="https://fmovies-online.net"></a>
        <br />
        <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
