{% extends 'base.html' %} {% block content %}

<div class="homepage">
  <div class="welcome-msg text-center">
    <h1>WELCOME TO STRATA &#38; STRUCTURES LTD</h1>
    <p>The Water Solution Experts</p>
  </div>

  <div class="page-content">
    <div class="home-main">
      <div class="home-grid-item">
        <img src="../../media/20200807_124821.jpg" />
      </div>

      <div class="home-grid-item">
        <div class="home-text">
          <p>
            Strata &#38; Structures Limited is one of the leading firms in
            Nigeria when it comes to drilling, installation and maintenance of
            boreholes, water pumps, water analysis and treatment, erection of
            steel tank stands and tanks.
          </p>
        </div>
      </div>

      <div class="home-grid-item">
        <div class="home-text">
          <p>
            A preliminary assessment, local knowledge and/ or experience based
            on working close to the project site is used to increase the chance
            of finding water suitable for client requirements before a borehole
            can be drilled. Drilled wells are typically created using either
            top-head rotary style, table rotary, or cable tool drilling
            machines, all of which use drilling stems that are turned to create
            a cutting action in the formation, hence the term 'drilling'.
          </p>
        </div>
      </div>
      <div class="home-grid-item">
        <img src="../../media/IMG_20190215_110641.jpg" />
      </div>
      <div class="home-grid-item">
        <img src="../../media/IMG_20190216_134912.jpg" />
      </div>

      <div class="home-grid-item">
        <div class="home-text">
          <p>
            Boreholes are an effective way of tapping into the water bearing
            aquifer below the ground and pumping the water to the surface.
            Strata &#38; Structures Limited install, service and maintain
            boreholes and pumping equipment for domestic use, estates,
            construction projects, communities, NGOS, government institutions,
            Hospitals, Golf clubs, farmers, and companies.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
