{% extends 'base.html' %} {% block content %}
<div class="page-header-container">
  <h2 class="page-header">Our Services</h2>
</div>

<div class="page-content">
  <div class="services-main">
    <div class="services-segment">
      <div class="services-segment-header">
        <h3>Hydrological Surveys</h3>
      </div>
      <div class="services-segment-content">
        <p>
          Whether at State or National Level, we have the capacity to carry out
          a Hydrological survey(s) to exacting standards. Clients include:
          Private, Federal and State Governments.
        </p>
      </div>
    </div>

    <div class="services-segment">
      <div class="services-segment-header">
        <h3>Borehole Drilling</h3>
      </div>
      <div class="services-segment-content">
        <p>
          We have the capacity to drill deep boreholes from 100ft to 1500ft. we
          have the equipment as well as the manpower to do, perform to exacting
          standards. Clients include: Federal, local governments, private as
          well as large Institutional clients.
        </p>
      </div>
    </div>

    <div class="services-segment">
      <div class="services-segment-header">
        <h3>Rehabilitation / Maintenance</h3>
      </div>
      <div class="services-segment-content">
        <p>
          Our capability extends to major overhauling of large water treatment
          plants, borehole rehabilitation as well as maintaining them on a day
          to day level.
        </p>
      </div>
    </div>

    <div class="services-segment">
      <div class="services-segment-header">
        <h3>Pipeworks &#38; Reticulations</h3>
      </div>
      <div class="services-segment-content">
        <p>
          Construction and Laying of pipes is one major activities and we have
          successfully executed major pipes laying works on behalf of
          Federal/Local Governments and private individuals as well as large
          property developers.
        </p>
      </div>
    </div>

    <div class="services-segment">
      <div class="services-segment-header">
        <h3>Fabrication &#38; Construction of Steel Towers &#38; Tanks</h3>
      </div>
      <div class="services-segment-content">
        <p>
          One of our strenghts is the fabrication of steel tanks and towers,
          from normal fabrication to assembly of braithwaite tanks.
        </p>
      </div>
    </div>

    <div class="services-segment">
      <div class="services-segment-header">
        <h3>Consultancy</h3>
      </div>
      <div class="services-segment-content">
        <p>
          Over the years we have gained so much experience in the field of water
          engineering and general contracting that we offer consultancy services
          to out clients as part of our services.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
